<div class="justify-content-space-between row">
  <div class="card align-items-center justify-content-center col-sm">
    <br>
    <h2>Hosting:</h2>
      <% current_user.events.upcoming_events.each do |event| %>
        <%= render "users/show_event_user", event: event %>
      <% end %>  
      <br>
      <h2>Hosted:</h2>
      <% current_user.events.past_events.each do |event| %>
        <%= render "users/show_event_user", event: event %>
      <% end %>
  </div>
  <div class="card align-items-center justify-content-center col-sm">
    <br>
    <h2>Attending:</h2>
    <% current_user.attended_events.upcoming_events.each do |event| %>
      <%= render "users/show_event_user", event: event %>
    <% end %>
    <br>
    <h2>Attended:</h2>
    <% current_user.attended_events.past_events.each do |event| %>
      <%= render "users/show_event_user", event: event %>
    <% end %>    
  </div>
</div>


