<h1>My lips are sealed</h1>
<div class="d-flex align-items-center justify-content-center">
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= post.body %>
        <%=  "shared by: "%>
        <% if user_signed_in? %>
          <%= post.user.email[/^[^@]*/] %>
        <% else %>
          <%= "Annonymous" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>