<%= render "shared/event_errors" %>
<div  class="d-block mx-auto w-50">
  </br>
  </br>
  <div class="mx-auto"> 
    <h1>New event</h1>

    <%= render "form", event: @event %>

    <br>

    <div>
      <%= link_to "Back to events", events_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>  
