<footer class="footer text-center p-4 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.025)" >
  
    <p>Website by Der Weg To Code</p>
    <a href="https://www.flaticon.com/free-icons/silence" title="silence icons" class="text-muted">Silence icons created by Eucalyp - Flaticon</a>
  
</footer>